<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css" th:href="@{/css/style.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div id="topbar">
        <div class="logo">
            My Blog
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="categories.html">Categories</a></li>
                <li><a href="Tags.html">Tags</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>




<section class="content">
    <div class="blog__tags">
    <li class="post_list_link" th:each="post:${tag.getPosts()}">
        <a class="post-list-links__link" th:href="@{'/post/'+ ${post.id}}"
           th:text="${post.PostName}"></a>
    </div>
</section>
    
<footer>
    <div id="footer">
        Footer
    </div>
</footer>


</body>
</html>