<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="./css/styles.css" th:href="@{/css/style.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div id="topbar">
        <div class="logo">
            My Blog
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="categories.html">Categories</a></li>
                <li><a href="Tags.html">Tags</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>

<section class="categorylinks">
    <li><a href="/tags/tag1">Blog Tag 1</a></li>
    <li><a href="/tags/tag2">Blog Tag 2</a></li>
    <li><a href="/tags/tag3">Blog Tag 3</a></li>
    <li><a href="/tags/tag4">Blog Tag 4</a></li>
    <li><a href="/tags/tag5">Blog Tag 5</a></li>

    <section class="content">
        <div class="blog__tags">
            <li th:each="tag:${tags}"><a th:href="@{'/tag/' + ${tag.name}}"
                                                th:text="'#'+${tag.name}">Tag</a>

            </li>
        </div>
    </section>
    
<footer>
    <div id="footer">
        Footer
    </div>
</footer>


</body>
</html>